.banner__titulo{
    color: #fdfdfd;
    font-family: Pacifico, cursive;
    
    position: absolute;/*Absoluto tendo relação a página inteira  ao banner que é o pai*/
    left: 50%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);/*canvas 50 eixo x 50 eixo y */
    width: 100%;

}
@media screen and (min-width: 0){
    .banner__titulo{
        font-size: 3rem;
    }
}
@media screen and (min-width: 768px){
    .banner__titulo{
        font-size: 81px; /*ou 5.0625rem*/
    }
    
}